.index-background {
    width: 100%;
    filter: brightness(75%);
    z-index: -1; /* Place the background behind other content */
    height: 2000px;
    pointer-events: none; /* Ensure the background image doesn't capture mouse events */
    object-fit: cover; /* Ensure the image covers the entire container */
}

@keyframes twinkling {
    0% { border-color: rgba(220, 99, 99, 0.3); } /* Red */
    25% { border-color: rgba(219, 203, 76, 0.3); } /* Green */
    50% { border-color: rgba(113, 238, 91, 0.3); } /* Blue */
    75% { border-color: rgba(77, 197, 216, 0.3); } /* Yellow */
    100% { border-color: rgba(217, 75, 186, 0.3); } /* Magenta */
}

.welcome-box {
    position: absolute;
    z-index: 1;
    top: 17%;
    left: 5%;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: rgba(210, 195, 170, 0.2);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid transparent; /* Transparent border initially */
    animation: twinkling 2s infinite alternate; /* Apply twinkling animation */
}

.welcome-box h1 {
    font-size: 2em;
    margin: 0;
}

.desc-box {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: black;
    font-weight: bold;
    height: 40px; /* Adjusted height */
    line-height: 60px; /* Set line height equal to the box height */
    background-color: rgba(210, 195, 170, 0.1);
    padding: 10px; /* Adjusted padding */
    border-radius: 10px;
    box-sizing: border-box; /* Ensure padding is included in the height */
    align-items: center;
    justify-content: center;
    display: flex;
}

.big6-desc {
    top: 565px;
    left: 6%;
}

.top26-desc {
    top: 180px;
    left: 64%;
    transform: translate(-50%, -50%);
}

.albums-desc {
    top: 510px;
    left: 80%;
}


/* Styling for the image box class */
.image-box {
    position: absolute;
    overflow: hidden; /* Hide overflow to prevent image from overflowing */
    cursor: pointer; /* Change cursor to indicate clickability */
    width: 300px; /* Default width of the container */
    height: 150px; /* Default height of the container */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    opacity: 0.5;
}

/* Styling for the images inside the image box */
.image-box img {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 100%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
}

/* Subclasses for different box positions */
.big6box {
    top: 400px;
    left: 6%;
}

.top26box {
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 135px
}

.albumsbox {
    top: 360px;
    left: 77%;
    height: 130px
}
