.index-background {
    width: 100%;
    filter: brightness(75%);
    z-index: -1; /* Place the background behind other content */
    height: 2000px;
    pointer-events: none; /* Ensure the background image doesn't capture mouse events */
    object-fit: cover; /* Ensure the image covers the entire container */
}

.welcome-box {
    position: absolute;
    z-index: 1;
    top: 17%;
    left: 5%;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
}

.welcome-box h1 {
    font-size: 2em;
    margin: 0;
}

@keyframes twinkling {
    0% { border-color: #ff0000; } /* Red */
    25% { border-color: #00ff00; } /* Green */
    50% { border-color: #0000ff; } /* Blue */
    75% { border-color: #ffff00; } /* Yellow */
    100% { border-color: #ff00ff; } /* Magenta */
}

/* Styling for the image box class */
.image-box {
    position: absolute;
    overflow: hidden; /* Hide overflow to prevent image from overflowing */
    cursor: pointer; /* Change cursor to indicate clickability */
    width: 300px; /* Default width of the container */
    height: 150px; /* Default height of the container */
    border: 2px solid transparent; /* Transparent border initially */
    border-radius: 10px; /* Rounded corners */
    animation: twinkling 2s infinite alternate; /* Apply twinkling animation */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

/* Styling for the images inside the image box */
.image-box img {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 100%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
}

/* Subclasses for different box positions */
.big6box {
    top: 400px;
    left: 6%;
}

.top26box {
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 135px
}

.albumsbox {
    top: 360px;
    left: 77%;
    height: 130px
}
