body {
    font-family: 'IM Fell DW Pica', serif;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

p {
    font-family: var(--text);
}

a {
    text-decoration: none;
    color: var(--dark);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url('../img/headerbackground.png');
    opacity: 0.4;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.header-logo {
    height: 50px; /* Adjust as needed */
}

.header-nav {
    display: flex;
    gap: 30px;
}

.head-nav-link {
    text-decoration: none;
    color: #fff; /* Adjust color for better contrast with your header background */
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #9d733b; /* Light brown border */
    background-color: #9d733b; /* Light brown background */
    opacity: 0.72;
    border-radius: 24px; /* Border radius */
    transition: border-color 0.3s; /* Smooth transition for hover effect */
}

.head-nav-link:hover {
    background-color: rgb(135, 100, 55); /* Darker brown background on hover */
    opacity: 0.92; /* Reduce opacity on hover */
}

main {
    padding-top: 80px; /* Adjust to ensure content isn't hidden under the fixed header */
}