.top30-background { 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(65%);
    z-index: -1; 
    opacity: 0.84;
    pointer-events: none;
    object-fit: cover;
}

.song-container {
    position: absolute; /* Ensure the container can be positioned absolutely */
    display: flex;
    justify-content: center;
}

.song-wrapper {
    display: flex;
    align-items: center;
    background-color: rgb(255, 200, 160, 0.3); 
    border-radius: 10px; 
    padding: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.order-button {
    padding: 10px;
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px; /* Space between button and image */
}

.order-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: white; /* Change text color to white on hover */
}

.song-image {
    width: 200px;
    height: 40px;
    object-fit: cover; /* Ensure image fits within specified dimensions */
}

.play-button {
    padding: 10px;
    background-color: #007bff; /* Blue background */
    border: none;
    border-radius: 50%; /* Make it round */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Space between image and button */
}

.play-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.play-button i {
    color: white; /* White play button icon */
    font-size: 24px;
}

.audio-player {
    display: none; /* Hide the audio player initially */
}


