.topAlbums-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(65%);
    z-index: -1; 
    opacity: 0.84;
    pointer-events: none;
    object-fit: cover;
}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto; /* Center the slider container horizontally */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-left: -30%; /* Offset to position the slider content */
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-left: 30%; /* Offset to position each slide */
}

.album-content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: left; /* Align text (if any) to the left */
}

.album-cover {
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
}

.album-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.album-details li {
    margin: 5px 0;
}

.album-details img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.album-description {
    margin-top: 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}